.container1 {
  position: relative;
  text-align: center;

}
.container1 img{
  width: 100%;
  height: 60%;
}
.top-right {
    position: absolute;
    top: 30%;
    right: 30%;
    color: aliceblue;
    font-size: 25px;
    font-size: 5rem; 
    text-shadow: 5px 5px 0px 		#1F51FF; 

  }
  .navbar{
  width: 100%;
  background-color: #555;  
}
.navbar button{
  width: 100%;
  background-color: #555;

}
.navbar button:hover {
  background-color: #000;
}
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 12%; 
  text-align: center; 
  filter: drop-shadow(4px 4px 4px black);
  word-spacing: normal;
}

.navbar a:hover {
  background-color: #000;
}

.navbar li {
  color: aliceblue;
}
.navbar li:hover{
  background-color: #000;
  color: aliceblue;
}

 /* Ensure dropdown menu and items match the navbar style */
.dropdown-menu {
  background-color: #555;
  border: none;
  width: 100%;
}

.dropdown-item {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 12px;
}

.dropdown-item:hover {
  background-color: #000;
  color: aliceblue;
}
.dropdown-submenu .dropdown-menu { background-color: #555; }
.dropdown-submenu .dropdown-item { color: white; text-align:center;}

.submenu .dropdown-item {
  color: white;
}

.dropdown-submenu .dropdown-item:hover { background-color: #000; color: aliceblue; }
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; 
  }
}

.text{
  text-align: center; 
  font-size: 50px;
  margin-bottom: 11%;
}

/* .heading{
  width: 100%;
  background-color: #555;
overflow: auto;
margin: 10px;

        height:103px;
        position: relative;
        animation-name: moveit;
        animation-duration: 15s;
        
    }
    @keyframes moveit {
        from {left: 5%;}
        to   {left: 100%;}
        
}

.heading ul{
  font-size: 25px;
  float: left;
  padding: 12px;
width: 18%;
color: aliceblue;
}
.heading .active{
  width: 35%;
  display: inline;
}

.heading2{
  font-size: 20px;

}
a{
  color: white;
} */
footer {
  text-align: center;
  padding: 50px;
  background-color: #555;
  color: white;
  font-size: 30px;
}
/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Cursor */
.cursor{
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
    top: 58px;
    right: 16px;
    text-align: center; 
    font-size: 40px;
}
/* Animation */
.typewriter-animation {
  animation: 
    typewriter 5s steps(50) 1s 1 normal both, 
    blinkingCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}











  





/* Global */
/* body { margin-top: 4em; padding: 5em; color: #f1f1f1; font-family: 'Anonymous Pro', monospace;background-color: #673ab7; } */