.container1 {
  position: relative;
  text-align: center;
}
.container1 img {
  width: 100%;
  /* height: 60%; */
}

.navbar {
  width: 100%;
  background-color: #555;
  position: absolute;
  top: 0px;
  left: 0px;
}
.navbar button {
  width: 100%;
  background-color: #555;
}
.navbar button:hover {
  background-color: #000;
}
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 12%;
  text-align: center;
  /* filter: drop-shadow(4px 4px 4px black); */
  word-spacing: normal;
}

.navbar a:hover {
  background-color: black;
}

.navbar li {
  color: red;
}
.navbar li:hover {
  background-color: #000;
  color: aliceblue;
}
.dropdown-submenu .dropdown-menu {
  background-color: #555;
}
.dropdown-menu ul {
  background-color: green;
}
.dropdown-submenu .dropdown-item:hover {
  background-color: green;
  color: aliceblue;
}
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

.text {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}
footer {
  text-align: center;
  padding: 50px;
  background-color: #555;
  color: white;
}
/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Cursor */
.cursor {
  position: relative;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  top: 58px;
  right: 16px;
  text-align: center;
  font-size: 40px;
}
.styled-select {
  opacity: 0.75;
  text-decoration: none;
  transition: opacity 0.3s, text-decoration 0.3s;
  color: #f8f9fa; /* Light color */
  font-size: 1rem; /* fs-8 */
  display: flex;
  align-items: center;
  padding-right: 0.75rem; /* pe-2 */
  padding-right: 1rem; /* pe-md-3 */
  border-right: 1px solid; /* bsb-sep bsb-sep-border */
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.styled-select:hover {
  opacity: 2;
  text-decoration: underline;
}
.styled-select option {
  background-color: #343a40; /* Dark background for options */
  color: #fff; /* Light text for options */
}

.card {
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 20px;
  .d-flex {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px; /* Adds space below the cards */
  }

  /* &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  } */

  &:hover {
    transform: scale(0.98);
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
    background-size: 130%;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

    .card-img-overlay {
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
      background: rgb(255, 186, 33);
      background: linear-gradient(
        0deg,
        rgba(255, 186, 33, 0.5) 0%,
        rgba(255, 186, 33, 1) 100%
      );
    }
  }
}

.card-body {
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

&:hover {
  .card-body {
    margin-top: 30px;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  cursor: pointer;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
/* General Reset and Basic Styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

